*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#000;
color:white;
display:flex;
justify-content:center;
padding-top:60px;
}

/* container */

.container{
width:1000px;
display:flex;
flex-direction:column;
align-items:center;
gap:40px;
}

/* search bar */

.search{
width:280px;
padding:12px;
border:none;
border-radius:8px;
background:#111;
color:#888;
}

/* cards layout */

.cards{
display:grid;
grid-template-columns:repeat(auto-fill, 240px);
gap:30px;
justify-content:center;
width:100%;
}

/* card */

.card{
position:relative;
width:240px;
height:340px;
border-radius:20px;
overflow:hidden;
}

/* image */

.bg-img{
width:100%;
height:100%;
object-fit:cover;
}

/* blur layer */

.blur{
position:absolute;
bottom:0;
width:100%;
height:120px;
backdrop-filter:blur(10px);
background:rgba(0,0,0,0.4);
}

/* content */

.content{
position:absolute;
bottom:15px;
left:15px;
right:15px;
}

.content h3{
margin-bottom:6px;
}

.content p{
font-size:13px;
color:#ddd;
}
.no-users{
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: gray;
    margin-top: 20px;
    grid-column: 1/-1;
}